---
import Layout from "../layouts/Layout.astro";
import OrbitingCirclesDemo from '../components/Orbing'
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-between mx-14 items-center h-screen">
    <div class="w-2/5">
      <h1 class="text-5xl font-bold">
        I am a Anderson 👋
      </h1>
    </div>
    <div class="w-3/5 flex justify-end">
      <OrbitingCirclesDemo />
    </div>							
	</div>
  </main>
</Layout>
